.text-small {
	font-size: 0.875rem;
}

span.badge.text-bg-info {
	color: $primary !important;
}

.atf {
	max-width: 830px;
	min-height: 600px;
	
}

.about {
	@include media-breakpoint-up(lg) { 
		padding-inline: 50px;
		margin-bottom: 100px;
	}
}

.experience {
	@include media-breakpoint-up(lg) { 
		padding-inline: 100px;
		margin-bottom: 100px;
	}
}

.work {
	img {
		width: 439px;
	}

	@include media-breakpoint-up(lg) { 
		padding-inline: 50px;
		margin-bottom: 100px;
	} 
}

.contact {
	@include media-breakpoint-up(lg) { 
		padding-inline: 100px;
		margin-bottom: 100px;
	}
}