button, a {
  &.btn-outline-primary {
    &:hover {
      color: #fff;
    }
    &:active {
      color: #fff;
    }
    &:focus {
      color: #fff;
    }
  }
}

.atf {
  a.link{
    border-bottom: solid;
    border-color: $primary;
    border-width: 2px;
    color: $body-color;
    padding-bottom: 5px;
    text-decoration: none;
  }
}